body{
    background-color: black;
}

header{
    width: 100%;
    height: 30vh;
    display: flex; justify-content: space-between;
    background-color: rgba(255, 68, 0, 0.822);
}

header div img{
    width: 200px;
    height: 200px;
}

header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li{
    margin-right: 100px;
    padding-top: 70px;
    font-weight: 600;
    cursor: pointer;
}
header nav ul li:hover{
    color: red;
}

#logo{
  margin-left: 100px;
}
section{
    display: flex;
    justify-content: center; align-items: center;
    margin-top: 50px;
}
h2{
    color: white;
    width: 10%;
    font-weight: 900;
}
section img{
    margin-left: 60px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}
#caixa{
    width: 85vw; height: 70vh;
    display: flex;
    gap: 5px;
    margin-top: 100px;
}

#caixa img{
    height: 100%;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s;

}
#caixa img:hover{
    flex: 4;
}

footer
{
    width: 100vw; height: 250px;
    background-color: rgba(255, 68, 0, 0.822);
    display: flex;
    justify-content: center; align-items: center;
    margin-top: 50px;
}

span{
    margin-left:400px;
    font-size:x-large;
}