body{
   background: linear-gradient(red, black, black, red);
}

header{
    width: 100%;
    height: 30vh;
    display: flex; justify-content: space-between;
    
}

header div img{
    width: 200px;
    height: 200px;
}

header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li{
    margin-right: 100px;
    padding-top: 70px;
    font-weight: 600;
    cursor: pointer;
}
header nav ul li:hover{
    color: red;
}

#logo{
  margin-left: 100px;
}

section{
    display: flex;
    flex-wrap: wrap;
}
iframe{
    margin: 50px;
}
iframe:hover{
    width: 650px; height: 400px;
    margin: 0px;
}
footer
{
    width: 100vw; height: 250px;
    display: flex;
    justify-content: center; align-items: center;
    margin-top: 10px;
}

span{
    margin-left:400px;
    font-size:x-large;
}